.card {
    margin: 2%;
    padding-top: 3%
}

.row {
    padding: 2%;
}

input {
    width: 75px;
}

.card-completed {
    background-color: lightgreen;
    opacity: .5;
}

.item-needed {
    border-color: red;
}

p {
    white-space: pre-wrap;
}